<div class="image-upload" [formGroup]="form">
  <div class="preview" *ngIf="previewUrl; else placeholder">
    <img class="preview__img" [src]="previewUrl" alt="Preview" />
    <button type="button" (click)="removeFile()"><img src="assets/close.svg" alt=""></button>
  </div>

  <ng-template #placeholder>
    <div class="placeholder" [ngClass]="{'error': error}">
    </div>
  </ng-template>

  <label for="img"></label>

  <input id="img" type="file" accept="image/*" (change)="onFileSelected($event)" [formControlName]="controlName" />
</div>
